body {
  background: #457b9d;
  color: black;
  font-family: Monaco;
}

.list-users {
  padding: 10px 0;
  background: #009B50;
  color: white;
  text-align: center;
  font-size: 16pt;
}

.user{
  border-style: solid;
  padding: 10px;
  background: orange;
  color: white;
  text-align: left;
  font-size: 16pt;
  vertical-align: middle;
}

.movie-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  justify-content: center
}

.movie-grid li {
  padding: 10px 15px;
  text-align: left;
}

.movie {
  width: 80px;
}

.movie-title,
.movie-year {
  font-size: 0.8em;
  text-align: left;
}

.movie-title {
  margin-top: 10px;
}

.movie-director {
  font-size: 0.8em;
}

.movie-year {
  color: #999;
}

.movie-rating {
  font-size: 0.8em;
  text-align: left;
  color: red;
}

.movie-poster {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 128px;
    height: 193px;
    justify-content: center
}
