<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie list</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div>
    <ol class="movie-grid">
        {% for movie in movies %}
        <li>
            <img class="movie-poster" src="{{ movie['poster_link'] }}">
            <div class="movie-title">{{ movie['name'] }}</div>
            <div class="movie-year">{{ movie['year'] }}</div>
            <div class="movie-rating">{{ movie['rating'] }}</div>
            <div class="movie-director">Director - {{ movie['director'] }}</div>
            <form action="/users/{{ user_id }}/delete_movie/{{ movie['id']  }}" method="get"><input type="submit" value="Delete"></form>
            <form action="/users/{{ user_id }}/update_movie/{{ movie['id']  }}" method="get"><input type="submit" value="Update"></form>
            <br>
            <br>
        </li>
        {% endfor %}
        </ol><br>
    <form action="/users/{{ user_id }}/add_movie" method="get">
        <input type="submit" value="Add New Movie">
    </form>
</div>
</body>
</html>